@model RegistrationViewModel
@{
  ViewData["Title"] = "Registration";
}

<div class="col-md-4 offset-md-4">
  <h2 class="form-text text-center">Register</h2>
  <form asp-action="Register">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
      <input type="text" class="form-control" asp-for="Credentials" placeholder="Full Name">
      <input type="email" class="form-control" asp-for="Email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" asp-for="Password">
      <input type="password" class="form-control" placeholder="Confirm Password" asp-for="PasswordConfirmation">
    </div>
    <div class="form-group">
      <textarea rows="4" placeholder="About" asp-for="About"></textarea>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
